.logoImage{
    width: 100%;
    height: 100%;
    
}
.homeTop{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 30vh;
    width: 100%;
}
.menuPage{
    height:400px;  
}
.homeBottom{
    height:115px;
}
