.orderComponent{
    flex: 1;
    max-width: calc(100% / 3);
    border: 1px solid gray;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    padding: 0px;
}